body {
    /*background-color:royalblue;*/
    background-image: url(100x100.gif);
    color:mediumspringgreen
}

div {
    background-color: yellow;
    color: black;
    width: 300px;
    height: 200px;
    position: absolute;
    left: 100px;
    top: 200px;
}